body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #38bdf8;
}

.form-container,
.chart-container,
.incidents-container {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background: #334155;
  color: white;
}

button {
  background: #0ea5e9;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0284c7;
}

.incident-card {
  background: #334155;
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
}

.delete-btn {
  background: #ef4444;
  margin-top: 10px;
}

.delete-btn:hover {
  background: #dc2626;
}